<div class="user-details">
  <h1> Projects </h1>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="twitter sentiment analysis" src="{{ "/assets/img/tweet.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Sentiment Analysis on Real Time Data from Twitter </h3>
    <ul>
      <li> Python </li>
      <li> Natural Language Processing </li>
      <li> Real time tweets from twitter </li>
      <li> Machine Learning </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform sentiment analysis on the tweets using more than one classifier and based on the classifier with maximum accuracy, segregate them as positive, negative and neutral. Thereby, justify the action to be taken in the future as per the mined opinion and sentiments analyzed.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/outlook-opinion-mining">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="stock market trading using algorithm" src="{{ "/assets/img/stockimg.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Algorithmic Trading using Data Analysis</h3>
    <ul>
      <li> Python </li>
      <li> Real time data from yahoo finance </li>
      <li> Machine Learning </li>
      <li> Quantopian </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform analysis on the historical stock data using more than one classifier and based on the classification, segregate them as buy, sell and hold. Thereby, justify the action to be taken in the future as per the mined opinion and outcome analyzed. Also, Platforms like Quantopian to be used in order to perform back testing in a more precise and effective manner.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Algorithmic-Trading">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="recommendation system" src="{{ "/assets/img/unnamed.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Recommendation System </h3>
    <ul>
      <li> Python </li>
      <li> Collaborative Filtering </li>
      <li> Machine Learning </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform collaborative filtering and provide recommendations based on the comparison between the ratings of the items and users profile.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Recommendation-system">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="titanic data analysis" src="{{ "/assets/img/RMS_Titanic_3.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Titanic Survival Data Analysis </h3>
    <ul>
      <li> Python </li>
      <li> Exploratory Data Analysis </li>
      <li> Machine Learning </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to clean the data over many parameters like missing values, feature scaling, etc.
                                    and understand the attributes on which the dependent variable "survival" is dependent. and accordingly predict the same.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/titanic-data-analysis">Check it out</a>
  </div>
</div>




<div class="user-projects">
  <div class="images-right">
    <img alt="Hypothesis Testing Code Snippets" src="{{ "/assets/img/machine-learning-definition.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Hypothesis Testing Code Snippets </h3>
    <ul>
      <li> Python </li>
      <li> Hypothesis Tests </li>
      <li> Normal Distribution </li>
      <li> Etc. </li>
    </ul>
    <p style="text-align:justify;">In order to perform data analysis, we use the concept of hypothesis testing. There are various "tests" that can be performed under the term "hypothesis testing", that helps to gain various insights from the data.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/hypothesis-testing">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="Machine Learning Code Snippets" src="{{ "/assets/img/machine-learning-definition.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Data Preprocessing and Machine Learning Code Snippets </h3>
    <ul>
      <li> Python </li>
      <li> Data Preprocessing </li>
      <li> Regression </li>
      <li> Classification </li>
      <li> Clustering </li>
    </ul>
    <p style="text-align:justify;">Data preprocessing and machine learning code</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Machine-Learning-Templates">Check it out</a>
  </div>
</div>




<div class="user-projects">
  <div class="images-right">
    <img alt="Feature Engineering Code Snippets" src="{{ "/assets/img/machine-learning-definition.jpeg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Feature Engineering Code Snippets </h3>
    <ul>
      <li> Techniques to work with Missing Data </li>
      <li> Techniques to encode categorical data </li>
      <li> Feature Scaling </li>
      <li> Etc. </li>
    </ul>
    <p style="text-align:justify;">Feature Engineering Code Snippets</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Machine-Learning-Templates">Check it out</a>
  </div>
</div>




<div class="user-projects">
  <div class="images-left">
    <img alt="socket programming and plagiarism detection" src="{{ "/assets/img/socket.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Socket Programming And Plagiarism Detection </h3>
    <ul>
      <li> C </li>
      <li> Socket Programming </li>
      <li> Rabin Karp Algorithm </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop a platform where computer aided text-based assignments or exams submitted by students can be easily accessible on the administrator’s (here it will be Professor) system and afterwards, administrator (Professor) would be able to observe the plagiarism among the assignment submissions in the form of percentage.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/ProofReading">Check it out</a>
  </div>
</div>






<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="recommendation system" src="{{ "/assets/img/system.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Recommendation System </h3>
    <ul>
      <li> Python </li>
      <li> Collaborative Filtering </li>
      <li> Machine Learning </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform collaborative filtering and provide recommendations based on the comparison between the ratings of the items and users profile.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Recommendation-system">Check it out</a>
  </div>
</div>
-->




