<div class="user-details">
  <h1> Projects </h1>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="twitter sentiment analysis" src="{{ "/assets/img/tweet.png" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Opinion Mining on Real Time Data from Twitter </h3>
    <ul>
      <li> Python </li>
      <li> Natural Language Processing </li>
      <li> Machine Learning </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform sentiment analysis on the tweets using more than one classifier and based on the classifier with maximum accuracy, segregate them as positive, negative and neutral. Thereby, justify the action to be taken in the future as per the mined opinion and sentiments analyzed.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/outlook-opinion-mining">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="stock market trading using algorithm" src="{{ "/assets/img/stockimg.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Algorithmic Trading </h3>
    <ul>
      <li> Python </li>
      <li> Machine Learning </li>
      <li> Quantopian </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform analysis on the historical stock data using more than one classifier and based on the classification, segregate them as buy, sell and hold. Thereby, justify the action to be taken in the future as per the mined opinion and outcome analyzed. Also, Platforms like Quantopian to be used in order to perform back testing in a more precise and effective manner.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Algorithmic-Trading">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-right">
    <img alt="Machine Learning Code Snippets" src="{{ "/assets/img/learning.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Machine Learning Code Snippets </h3>
    <ul>
      <li> Python </li>
      <li> Data Preprocessing </li>
      <li> Regression </li>
      <li> Classification </li>
      <li> Clustering </li>
    </ul>
    <p style="text-align:justify;">Data preprocessing and machine learning code</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Machine-Learning-Templates">Check it out</a>
  </div>
</div>



<div class="user-projects">
  <div class="images-left">
    <img alt="socket programming and plagiarism detection" src="{{ "/assets/img/socket.PNG" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Socket Programming And Plagiarism Detection </h3>
    <ul>
      <li> C </li>
      <li> Socket Programming </li>
      <li> Rabin Karp Algorithm </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop a platform where computer aided text-based assignments or exams submitted by students can be easily accessible on the administrator’s (here it will be Professor) system and afterwards, administrator (Professor) would be able to observe the plagiarism among the assignment submissions in the form of percentage.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/ProofReading">Check it out</a>
  </div>
</div>






<!--
<div class="user-projects">
  <div class="images-right">
    <img alt="recommendation system" src="{{ "/assets/img/system.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> Recommendation System </h3>
    <ul>
      <li> Python </li>
      <li> Collaborative Filtering </li>
      <li> Machine Learning </li>
    </ul>
    <p style="text-align:justify;">The objective of this project is to develop an application in order to perform collaborative filtering and provide recommendations based on the comparison between the ratings of the items and users profile.</p>
    <a class="project-link" href="https://github.com/cseshubhamsinghal/Recommendation-system">Check it out</a>
  </div>
</div>
-->




